<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel=
            "stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">

</head>
<body>
<style>
    label {
        font-weight: bold;
    }

</style>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid vh-100 mt-3">
    <div class="row h-100">
        <div class="col-md-2 p-0">
            <div sec:authorize="hasRole('ROLE_ADMIN' )" class="d-flex w-100">
                <a th:href="@{/admin}" class="w-100">
                    <button class="btn btn-primary w-100 text-start">Admin</button>
                </a>
            </div>
            <a th:href="@{/user}">
                <button class="btn btn-link text-start w-100 text-decoration-none">User</button>
            </a>
        </div>


        <div class="col-md-10 bg-light">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="userTable-tab" data-bs-toggle="tab" href="#userTable" role="tab"
                       aria-controls="userTable" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="newUser-tab" data-bs-toggle="tab" href="#newUser" role="tab"
                       aria-controls="newUser" aria-selected="false">New User</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="userTable" role="tabpanel" aria-labelledby="userTable-tab">
                    <div class="card">
                        <h5 class="card-header">All users</h5>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.name}"></td>
                                    <td>
                                        <span th:each="role : ${user.roles}" th:text="${role} + ' '"></span>
                                    </td>
                                    <td>
                                        <a th:href="@{admin/findOne/(id=${user.id})}"
                                           class="btn btn-primary eBtn">Edit</a>
                                    </td>
                                    <td>
                                        <a th:href="@{admin/findOne/(id=${user.id})}"
                                           class="btn btn-danger dBtn">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                    <div class="card">
                        <h5 class="card-header">Add new User</h5>
                        <div class="card-body d-flex justify-content-center text-center">
                            <div class="addForm w-25">
                                <form th:action="@{admin/save}" method="post">
                                    <input type="hidden" class="form-control" id="add-id" name="id" required>

                                    <div class="mb-3">
                                        <label for="add-name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="add-name" name="name"
                                               maxlength="100" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="add-email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="add-email" name="email"
                                               minlength="3" maxlength="100" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="add-password" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="add-password" name="password"
                                               minlength="3" maxlength="100" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="add-roles">Role</label>
                                        <select class="form-select" th:size="${roles.size() > 4 ? 4 : roles.size()}"
                                                multiple id="add-roles" name="roles">
                                            <option th:each="role : ${roles}" th:value="${role.id}"
                                                    th:text="${role}"></option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Edit-->
<div class="editForm">
    <form th:action="@{/admin/save}" method="post">
        <div class="modal fade" id="userEditDialog" tabindex="-1" aria-labelledby="userEditDialogLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="userEditDialogLabel">Edit user</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center">
                        <div class="modal-body w-50">
                            <div class="form-group mb-3">
                                <label for="edit-id">ID</label>
                                <input type="text" class="form-control" id="edit-id" name="id" value="" disabled/>
                                <input type="hidden" id="edit-id-hidden" name="id" value=""/>
                            </div>
                            <div class="form-group mb-3">
                                <label for="edit-name">Name</label>
                                <input type="text" class="form-control" id="edit-name" name="name" value=""
                                       maxlength="100"/>
                            </div>
                            <div class="form-group mb-3">
                                <label for="edit-email">Email</label>
                                <input type="email" class="form-control" id="edit-email" name="email" value=""
                                       minlength="3" maxlength="100" required/>
                            </div>
                            <div class="form-group mb-3">
                                <label for="edit-password">Password</label>
                                <input type="password" class="form-control" id="edit-password" name="password" value=""
                                       minlength="3" maxlength="100" required/>
                            </div>
                            <div class="form-group mb-3">
                                <label for="edit-roles">Role</label>
                                <select class="form-select" th:size="${roles.size() > 4 ? 4 : roles.size()}" multiple
                                        id="edit-roles" name="roles">
                                    <option th:each="role : ${roles}" th:value="${role.id}"
                                            th:text="${role}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Edit"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Modal Edit-->

<!-- Modal Delete-->
<div class="deleteForm">
    <form th:action="@{/admin/delete}" method="post">
        <div class="modal fade" id="userDeleteDialog" tabindex="-1" aria-labelledby="userDeleteDialogLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="userDeleteDialogLabel">Delete user</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center">
                        <div class="modal-body w-50">
                            <div class="form-group">
                                <label for="delete-id">ID</label>
                                <input type="text" class="form-control" id="delete-id" name="id" value="" disabled/>
                                <input type="hidden" id="delete-id-hidden" name="id" value=""/>

                            </div>
                            <div class="form-group">
                                <label for="delete-name">Name</label>
                                <input type="text" class="form-control" id="delete-name" name="name" value="" disabled/>
                            </div>
                            <div class="form-group">
                                <label for="delete-email">Email</label>
                                <input type="email" class="form-control" id="delete-email" name="email" value=""
                                       disabled/>
                            </div>
                            <div class="form-group mb-3">
                                <label for="delete-roles">Role</label>
                                <select class="form-select" th:size="${roles.size() > 4 ? 4 : roles.size()}" multiple
                                        id="delete-roles" name="roles" disabled>
                                    <option th:each="role : ${roles}" th:value="${role.id}"
                                            th:text="${role}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-danger" value="Delete"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Modal Delete-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{js/main.js}"></script>
</body>
</html>