<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header navbar-text text-white">
                <strong th:text="${#authentication.name}"></strong> with roles:
                <span
                        th:each="auth : ${#authentication.authorities}"
                        th:text="${#strings.replace(auth.authority, 'ROLE_', '') + ' '}">
                </span>
            </div>
            <div class="ms-auto">
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-link text-white-50 text-decoration-none" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </nav>
</div>